#schedule {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#twitchsection {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
}
body {
    background-color: rgb(120, 137, 145);
}
iframe {
    outline-style: none;
}
#twitch-embed {
    flex-grow: 3;
}
#days {
    width: 10%;
    min-width: 100px;
    min-height: 100px;
    outline: 2px;
    outline-style: solid;
    padding: 8px;
    margin: 1px;
    background-color: lightblue;
}
#flag {
    position: absolute;
    bottom: 10px;
    left: -40px;
    width: 200px;
    height: 150px;
}